<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Express Guestbook - Viraj Shelke
        </title>
        <link rel = "stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body class="container">
        <h1>
            Express Guestbook by Viraj Shelke
            <a href="/new-entry" class="btn btn-primary pull-right">
            Write in the guestbook
            </a>
        </h1>
        <br>
        <br>
